body {
  background-color: white;
  color: white;
  font-family: serif, verdana;
  font-size: 14px;
  padding: 0%;
  margin: 0%;
}

main{
  display: grid;
  place-items: center;
  min-height: 2vh;
  position: static;
}

#anchor{
  position: absolute;
  top: 180px;
  left: 470px;
  width: 820px;
}

#eyes, #eyes img{
  position: absolute;
  width: 70px;
  top: 170px; 
}

#eyes_back img{
  position: absolute;
  width: 80px;
  top: 334px; 
}

h1 {
    color: #ffc;
    background-color: #009;
}
  
strong {
  font-family: italic;
  text-transform: uppercase;
  }
  
em {
  text-transform: none;
  }
  
a:link {
    color: pink;
    text-decoration:none;
}

a:visited {
    color: fuchsia;
}

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#content {
    margin-left: 200px;
}

p{
  background-color: black;
  position: relative;
}